.sandwiches {
  padding: 20px;
  text-align: center; 
}

.lista-sandwiches {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.sandwich-card {
  margin: 15px; 
  border-radius: 10px; 
  overflow: hidden; 
  transition: transform 0.2s; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.sandwich-card:hover {
  transform: scale(1.05); 
}

.sandwich-card img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}