.tablas {
  text-align: center; 
}

.tabla-card {
  border-radius: 8px; 
  transition: transform 0.2s; 
  background-color: #f9f9f9; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}

.tabla-card:hover {
  transform: scale(1.05); 
}

.tabla-imagen {
  width: 100%;
  height: auto;
  border-radius: 8px;
}