/* src/components/Tablas.css */
.tablas {
    padding: 20px;
    text-align: center;
  }
  
  .lista-tablas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .tabla-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px; /* Ajusta según sea necesario */
    transition: transform 0.2s;
  }
  
  .tabla-card:hover {
    transform: scale(1.05);
  }
  
  .tabla-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  